@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 50%;
  padding: 5% 0 0;
  margin: auto;
}
.signup-page {
  width: 60%;
  padding: 5% 0 0;
  margin: auto;
}
.large-page {
  width: 100%;
  height: 20px;
  padding: 5% 0 0;
  margin: auto;
}
.large-page .form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 80%;
  height: 800px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 70%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input,
select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #34495e;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #2c3e50;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #34495e;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff; /*Sets the text hover color on navbar*/
  border-bottom: 5px solid #fff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white; /*BACKGROUND color for active*/
  background-color: #2c3e50;
  border-bottom: 5px solid #fff;
}

.navbar-default {
  background-color: #34495e;
  border-color: #2c3e50;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #66ccff; /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}
.navbar-default .navbar-brand {
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  padding-left: 40px;
}
.help-block {
  color: red;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
body {
  background: #ecf0f1; /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
